rss_parte1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Noticia">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tema" type="xs:string" />
                    <xs:element name="hora" type="xs:string" />
                    <xs:element name="Ubicacion" type="xs:string" />
                    <xs:element name="descripcion" type="xs:string" />
                    <xs:element name="tipo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>